body{
    margin:0;
    padding: 0;
    display: flex;
    background-color: beige;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    width: 600px;
    height: 600px;
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
}
.btn-cont{
    height: 20%;
}
.video-cont{
    height: 50%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.btn{
    background-color: #4CAF50; /* Green */
    border: none;
    color: hsl(0, 6%, 97%);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.6s;
    margin-top: 10px;
    letter-spacing: 1px;
    font-weight: 600;

}
.btn:hover{
    transform: scale(1.03);
    color: darkred;
}

.video-cont{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: none;
}
.video-display{
    display: block;
}
.text{
    display: none;
    align-items: center;
    justify-content: center;
}
.text-display{
    display: block;
    width: 300px;
    text-align: center;
    height: 30%;
    color: rgb(165, 7, 7);
}
.video-item{
    width: 400px;
    
}
.stop{
    background-color: #d3471d; /* Green */
    border: none;
    color: rgb(238, 224, 224);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.6s;
    margin-top: 10px;
    font-size: 20px;
}
.video{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide-btn{
    display: none;
}
.hide-stop{
    display: none;
}